<div class="dark-bg text-light">
    <h1 class="text-dark">Bienvenue à l'ISET Rades</h1>
    <p class="text-dark">
        Explorez nos formations et découvrez des opportunités de développement personnel
        et professionnel.
    </p>
</div>
<div class="container mt-4">
    <h2 class="text-dark">Catégories de Formations</h2>
    <div class="row">
        <div *ngFor="let category of categories" class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ category }}</h5>
                    <a [routerLink]="['/formations']" class="btn btn-primary">Voir les Formations</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Adresse</h5>
                <p>rue El Kods-Rades ville-2040</p>
            </div>
            <div class="col-md-6">
                <h5>Contacts</h5>
                <p>Email: <a href="mailto:contact&#64;concours-isets.rmu.tn">contact&#64;concours-isets.rmu.tn</a></p>
                <p>Téléphone: +216 71 461 700 / +216 71 460 700</p>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-light text-center py-3">
    <div class="container">
        <p class="mb-1">Tous les droits sont réservés à Gharsallah Islem</p>
        <p class="mb-1">Email: <a href="mailto:islemgharsallah86@gmail.com"
                class="text-light">islemgharsallah86&#64;gmail.com</a></p>
        <p class="mb-0">LinkedIn: <a href="https://linkedin.com/in/islem-gharsallah-649a63305" target="_blank"
                class="text-light">linkedin.com/in/islem-gharsallah-649a63305</a></p>
    </div>
</footer>